@import 'reset';
@import 'variables';

* { box-sizing: border-box; }

html, body {
    margin: 0;
    padding: 0;
}


body {
    background: $body-bg;
    font-family: $font-family-sans-serif;
    font-size: $font-size-base;
    line-height: $line-height-base;
    color: $text-color;
    font-weight: normal;
}


h1, h2, h3, h4, h5, h6 {
    font-family: $font-family-rounded;
    font-weight: 600;
    color: $text-color-dark;
    line-height: 1;
}


.Card {
    width: calc(100% - 4em);
    max-width: 460px;
    margin: 2em auto;

    background: white;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.Card__content {
    padding: 1.5em;

    &:not(:first-child) {
        border-top: 1px solid #ccc;
    }
}


.icon {
    display: inline-block;
    vertical-align: middle;
    height: 16px;

    fill: $text-color-dark;
}

hr {
    height: 0;
    border: 0;
    border-top: 1px solid #ccc;
}

@import 'blocks/Concert';
