.Concert {
    @extend .Grid__container;

    padding-bottom: $h-gutter;
    background: $white;
    border-bottom: 1px solid $grey-light;
    font-weight: bold;
    color: $text-color-dark;

    @media (min-width: $break-sm) {
        max-width: $break-sm - ($gutter*2);
        border-radius: $radius;
        border: 1px solid $grey-light;
    }
}



/**
 * Concert Header
 */
.ConcertHeader {
    margin-top: $h-gutter;
}



/**
 * Concert Details
 */
.ConcertDetails {
    margin-top: $h-gutter;
    line-height: 2.5;

    .icon {
        fill: $brand-primary;
        height: 1em;
        vertical-align: middle;
    }
}


.ConcertDetails__title {
    font-family: $font-family-rounded;
    font-size: 2em;
}


.ConcertDetails__subtitle {
    font-family: $font-family-rounded;
    font-size: 1.5em;
    color: $text-color;
}


.ConcertDetails__date {
}


.ConcertDetails__additional-information {
}


.ConcertDetails__indented {
    margin: -10px 0 0 36px;

    font-size: 0.8em;
    line-height: 1.2;
    font-weight: normal;
    color: $text-color;
}



/**
 * Concert Checkout
 */
.ConcertCheckout {
    lost-flex-container: row;
    margin-top: $h-gutter;
    padding-top: $h-gutter/2;
    border-top: 1px solid $grey-light;
}


.ConcertCheckout__price {
    lost-column: 1/2;
}


.CheckoutPrice__amount {
    font-size: 1.2em;
    line-height: 1.9;
}


.ConcertCheckout__quantity {
    lost-column: 1/2;
}


.ConcertCheckout .Input--text {
    font-size: 1.1em;
    width: 100%;
}


.ConcertCheckout__button {
    @extend .Btn;
    @extend .Btn--brand;

    margin-top: $h-gutter/2;
    width: 100%;
}
