/**
 * Ticket
 */
.Ticket {
    margin-top: $h-gutter/2;

    @media (min-width: $break-md) {
        margin-top: $h-gutter;
    }

    background: $white;
    border-radius: $radius;
}



/**
 * Ticket Header
 */
.TicketHeader {
    lost-flex-container: row;
    padding: $gutter;

    @media (min-width: $break-md) {
        padding: $gutter*2;
    }

    background: $grey-dark;
    border-radius: $radius $radius 0 0;
}


.TicketHeaderTitles {
    lost-column: 1;

    @media (min-width: $break-md) {
        lost-column: 2/3;
    }
}


.TicketHeaderTitles__title {
    font-size: 1.5em;
    line-height: 1;
    color: $white;

    @media (min-width: $break-md) {
        font-size: 1.75em;
    }
}


.TicketHeaderTitles__subtitle {
    line-height: 1;
    color: $grey-light;

    @media (min-width: $break-md) {
        font-size: 1.25em;
    }
}


.TicketHeaderInfo {
    lost-column: 1;
    lost-flex-container: row;

    margin-top: $gutter;

    @media (min-width: $break-md) {
        lost-column: 1/3;
        margin-top: 0;
    }
}


.TicketHeaderInfo__general-admission {
    lost-column: 2/5;

    @media (min-width: $break-md) {
        lost-column: 1;
        text-align: right;
        line-height: 1.5;
    }

    line-height: 1;
    font-weight: bold;
    color: $grey-light;
}

.TicketHeaderInfo__admit-one {
    lost-column: 3/5;

    @media (min-width: $break-md) {
        lost-column: 1;
        line-height: 1.5;
    }

    line-height: 1;
    text-align: right;
    color: $grey-light;
}



/**
 * Ticket Body
 */
.TicketBody {
    lost-flex-container: row;
    padding: $gutter;

    @media (min-width: $break-md) {
        padding: $gutter*1.5 $gutter $gutter*2;
    }

    border-left: 1px solid $grey-light;
    border-right: 1px solid $grey-light;

    .icon {
        fill: $brand-primary;
        height: 1em;
        vertical-align: middle;
    }
}


.TicketBodySchedule {
    lost-column: 1;

    @media (min-width: $break-md) {
        lost-column: 1/2;
    }
}


.TicketBodyLocation {
    lost-column: 1;
    margin-top: $gutter;

    @media (min-width: $break-md) {
        lost-column: 1/2;
        margin-top: 0;
    }
}


.TicketBodySchedule__date {
    font-weight: bold;
    color: $text-color-dark;
}


.TicketBodySchedule__time {
    line-height: 1;
    margin-left: 36px;
}


.TicketBodyLocation__venue {
    font-weight: bold;
    color: $text-color-dark;
}


.TicketBodyLocation__address {
    line-height: 1;
    margin-left: 36px;
}


/**
 * Ticket Footer
 */
.TicketFooter {
    lost-flex-container: row;
    padding: $gutter;

    border: 1px solid $grey-light;
    border-radius: 0 0 $radius $radius;

    @media (min-width: $break-md) {
        padding: $gutter $gutter*1.5;
    }
}


.TicketFooter__code {
    lost-column: 1;

    font-size: 1.25em;
    color: $text-color-dark;

    @media (min-width: $break-sm) {
        lost-column: 1/2;
        font-size: 1.5em;
    }
}


.TicketFooter__email {
    lost-column: 1;

    @media (min-width: $break-sm) {
        lost-column: 1/2;
        text-align: right;
        line-height: 2.5;
    }
}
